@font-face {
  src: url("../fonts/SpecialElite-Regular.ttf");
  font-family: SpecialElite;
}

@font-face {
  src: url("../fonts/IMFellGreatPrimer-Regular.ttf");
  font-family: IMFellGreatPrimer-Italic;
}

@font-face {
  src: url("../fonts/BigshotOne-Regular.ttf");
  font-family: BigshotOne;
}

@font-face {
  src: url("../fonts/DiplomataSC-Regular.ttf");
  font-family: DiplomataSC;
}

body {
  background-color: #e3e2d3;
}

.card {
  background-color: #e3e2d3;
  background-image: url(../images/noisy.png);
}

html,
body {
  height: 100%;
}

h2 {
  font-family: IMFellGreatPrimer-Regular;
}

#bigHeading {
  font-family: DiplomataSC;
}

p,
#quoteHeader {
  font-family: SpecialElite;
}

.background-noise {
  background-image: url(../images/noisy.png);
}
