@font-face {
  src: url("../fonts/SpecialElite-Regular.ttf");
  font-family: SpecialElite;
}

@font-face {
  src: url("../fonts/IMFellGreatPrimer-Regular.ttf");
  font-family: IMFellGreatPrimer-Italic;
}

@font-face {
  src: url("../fonts/OPTITrimRoman.otf");
  font-family: OPTITrimRoman;
}

@font-face {
  src: url("../fonts/OPTIPowell-OldStyle.otf");
  font-family: OPTIPowell-OldStyle;
}

@font-face {
  src: url("../fonts/BigshotOne-Regular.ttf");
  font-family: BigshotOne;
}

@font-face {
  src: url("../fonts/THOrneShadedOpti.otf");
  font-family: THOrneShadedOpti;
}

@font-face {
  src: url("../fonts/DiplomataSC-Regular.ttf");
  font-family: DiplomataSC;
}

body {
  background-color: #e3e2d3;
}

.card {
  background-color: #e3e2d3;
  background-image: url(../images/noisy.png);
}

html,
body {
  height: 100%;
}

h2,
#quoteHeader {
  font-family: OPTITrimRoman;
}

#projectHeading {
  font-family: THOrneShadedOpti;
}

#bigHeading {
  font-family: DiplomataSC;
}

p {
  font-family: SpecialElite;
}

.background-noise {
  background-image: url(../images/noisy.png);
}

#thisImage {
  object-fit: cover;
  width: 300px;
  height: 300px;
}
