@font-face {
  src: url("../fonts/SpecialElite-Regular.ttf");
  font-family: SpecialElite;
}

html,
body {
  height: 100%;
}

p {
  font-family: SpecialElite;
}

.background-noise {
  background-image: url(../images/noisy.png);
}
